In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
df1 = DataFrame({'employee':['ckz','dl','fq','hqy'],'group':['cehua','chengxu','meishu','guanli']})
df2 = DataFrame({'employee':['ckz','dl','fq','cc'],'age':['32','34','25','28']})
# display(df1,df2)
pd.merge(df1,df2)

  employee    group age
0      ckz    cehua  32
1       dl  chengxu  34
2       fq   meishu  25

In [4]:
pd.concat([df1,df2])

C:\Users\exialk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   age employee    group
0  NaN      ckz    cehua
1  NaN       dl  chengxu
2  NaN       fq   meishu
3  NaN      hqy   guanli
0   32      ckz      NaN
1   34       dl      NaN
2   25       fq      NaN
3   28       cc      NaN

In [5]:
df3 = DataFrame({'Name':['陈科峥','邓琳','付强','胡启渊'],
                 'Group':['系统策划','关卡策划','数值策划','主策划'],
                'Salary':[10000,8000,7000,20000]})

df4 = DataFrame({'Name':['陈科峥','邓琳','付强','珞珞'],
                 'Group':['系统策划','关卡策划','数值策划','剧情策划'],
                'Work_Time':[4,3,1,2]})

display(df3,df4)

  Name Group  Salary
0  陈科峥  系统策划   10000
1   邓琳  关卡策划    8000
2   付强  数值策划    7000
3  胡启渊   主策划   20000

  Name Group  Work_Time
0  陈科峥  系统策划          4
1   邓琳  关卡策划          3
2   付强  数值策划          1
3   珞珞  剧情策划          2

In [6]:
pd.merge(df3, df4)

  Name Group  Salary  Work_Time
0  陈科峥  系统策划   10000          4
1   邓琳  关卡策划    8000          3
2   付强  数值策划    7000          1