In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = DataFrame(data=np.random.randint(0,3,size=(6,2)),
               columns=['语文','数学',],
               index=['张三','李四','王五','小刘','小赵','王五'])
df

    语文  数学
张三   2   2
李四   2   0
王五   2   0
小刘   2   1
小赵   2   0
王五   1   2

In [3]:
df.duplicated()

张三    False
李四    False
王五     True
小刘    False
小赵     True
王五    False
dtype: bool

In [5]:
df.drop_duplicates()

    语文  数学
张三   2   2
李四   2   0
小刘   2   1
王五   1   2

In [7]:
df2 = pd.concat([df,df],axis=1)
df2

    语文  数学  语文  数学
张三   2   2   2   2
李四   2   0   2   0
王五   2   0   2   0
小刘   2   1   2   1
小赵   2   0   2   0
王五   1   2   1   2

In [8]:
df2.duplicated()

张三    False
李四    False
王五     True
小刘    False
小赵     True
王五    False
dtype: bool

### Map()函数学习

In [21]:
df3 = DataFrame(data=np.random.randint(1,10,size=(3,3)),
                columns=['Python','Java','UI'],
               index=['张三','李四','王五'])
df3

    Python  Java  UI
张三       1     5   4
李四       5     1   2
王五       8     9   7

In [22]:
df3['UI'] = np.nan
df3

    Python  Java  UI
张三       1     5 NaN
李四       5     1 NaN
王五       8     9 NaN

In [17]:
def sqrt(item):
    return item**2

In [23]:
df3['Java'] = df3['Java'].map(sqrt)
df3

    Python  Java  UI
张三       1    25 NaN
李四       5     1 NaN
王五       8    81 NaN

In [24]:
def adds(item):
    return 10

In [25]:
df3.UI =df3.UI.map(adds)
df3

    Python  Java  UI
张三       1    25  10
李四       5     1  10
王五       8    81  10

In [31]:
np.nan >0

False

In [30]:
df3.UI["张三"] = np.nan
df3

C:\Users\exialk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\exialk\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

    Python  Java    UI
张三       1    25   NaN
李四       5     1  10.0
王五       8    81  10.0

In [32]:
def squrt(item):
    if item>0:
        return item**2
    else:
        return 0

In [33]:
df3.UI = df3.UI.map(squrt)
df3

    Python  Java     UI
张三       1    25    0.0
李四       5     1  100.0
王五       8    81  100.0

In [37]:
df3['HTML'] = df3.Java.map(lambda x:x**2)
df3

    Python  Java     UI  HTML
张三       1    25    0.0   625
李四       5     1  100.0     1
王五       8    81  100.0  6561

### Transform()函数学习

In [38]:
df3.Python = df3.Python.transform(squrt)
df3

    Python  Java     UI  HTML
张三       1    25    0.0   625
李四      25     1  100.0     1
王五      64    81  100.0  6561

### 小练习

In [40]:
df4 = DataFrame(np.random.randint(0,150,size=(3,1)),columns=['分数'],index=['张三','李四','王五'])
df4

     分数
张三  126
李四   93
王五   53

In [41]:
def pick_num(item):
    if item < 90:
        return '不及格'
    elif item>120:
        return '学霸'
    else:
        return '通过'

In [42]:
df4['状态'] = df4.分数.map(pick_num)
df4

     分数   状态
张三  126   学霸
李四   93   通过
王五   53  不及格

### rename()函数学习

In [44]:
# df4
index = {
    '张三': 'zhangsir',
    '李四': 'lisir',
    '王五': 'wangsir',
}

df4 = df4.rename(index=index)
df4

           分数   状态
zhangsir  126   学霸
lisir      93   通过
wangsir    53  不及格

### discribe()函数学习

In [45]:
df5 = DataFrame(np.random.randint(0,150,size=(6,3)),columns=list('语数外'),index=list('ABCDEF'))
df5

     语    数    外
A   81   43  141
B   98   25   37
C   14   85    4
D   28  140  138
E  123   46   23
F   81   40   60

In [46]:
df5.describe()

                语           数           外
count    6.000000    6.000000    6.000000
mean    70.833333   63.166667   67.166667
std     41.787159   42.602426   58.942062
min     14.000000   25.000000    4.000000
25%     41.250000   40.750000   26.500000
50%     81.000000   44.500000   48.500000
75%     93.750000   75.250000  118.500000
max    123.000000  140.000000  141.000000

In [50]:
np.abs(df5)>df5.std()*3

       语      数      外
A  False  False  False
B  False  False  False
C  False  False  False
D  False   True  False
E  False  False  False
F  False  False  False

### 小练习2

In [63]:
df6 = DataFrame(np.random.randn(10000,3))
df6

             0         1         2
0    -1.151409  0.572258  1.139761
1    -0.202583 -0.173331  1.577703
2     1.080091  0.617864  1.206413
3    -0.368413  0.648921 -0.504882
4    -0.440671 -1.728469  1.221395
5     0.113721  0.480942  0.964269
6     0.164250  0.509468  1.142614
7     0.686807  1.639231 -1.721087
8    -0.285248  0.320045  1.055731
9    -0.644603  1.416528 -1.881903
10    0.015059 -0.193395  0.771463
11   -0.633850  2.148875 -0.399434
12    0.206503  1.114206 -0.957771
13   -1.326030 -2.834789 -0.165765
14   -0.864565 -0.897981 -0.156640
15    0.453770  1.149902  0.978661
16    0.715340 -0.845181 -0.647133
17    0.341056  2.132728 -0.222306
18   -1.578180  1.269205  1.879119
19    0.379691  0.812443  0.920345
20    0.716425  0.562518 -1.208875
21    0.803982  1.426018 -1.517422
22    0.710334  0.598129 -0.083671
23    1.213873  0.339055 -1.099985
24   -0.678843  0.710646  0.539792
25    0.285954  0.282127 -1.366450
26   -0.501925 -0.703681  0.239146
27    0.798168  1.335084  0.161574
28    0.260278 -0.471349  1.511860
29   -2.135082  0.320009  0.544246
...        ...       ...       ...
9970 -1.553720  0.097108 -1.230861
9971 -0.071958 -0.126180  1.117044
9972 -0.624816  0.263279 -0.086647
9973  1.328294  0.639054  1.016227
9974  0.283872  0.120786  0.246594
9975  1.225816 -0.812932  0.603631
9976  0.025640  0.254624  0.801991
9977 -0.060757 -2.109055 -0.358434
9978 -0.541597 -0.119632  0.784860
9979 -1.625993  1.864287 -0.150148
9980 -0.391391 -1.182654 -1.490367
9981 -0.276235  0.375673 -0.532722
9982  0.789331 -1.121498 -0.735829
9983  0.477031 -0.854314 -0.011287
9984  0.822586 -0.580537 -0.391141
9985  0.245637  0.315658 -0.630510
9986  0.132353  0.865108  0.884634
9987  0.003820 -0.753205 -0.419379
9988  0.434624 -0.087826 -0.904809
9989  1.280770  0.034022  0.703478
9990 -1.421410  0.214735  0.134037
9991 -0.890413  0.430253  0.262685
9992  0.730331  0.415004 -0.591392
9993  2.536012 -0.979333  0.629331
9994  0.368589  0.238170  0.567535
9995 -0.192851 -0.413767  0.419336
9996  0.738279 -0.977054 -1.874729
9997  0.250534  0.501971 -0.317135
9998 -1.199808 -2.499526  0.358444
9999  0.848118 -0.427226 -0.319372

[10000 rows x 3 columns]

In [64]:
df6.describe()

                  0             1             2
count  10000.000000  10000.000000  10000.000000
mean       0.004406     -0.010863      0.005322
std        0.997616      1.005162      0.991972
min       -3.375346     -3.445691     -3.708788
25%       -0.676646     -0.697748     -0.658529
50%        0.010461      0.005634      0.008953
75%        0.690179      0.673946      0.681125
max        3.502473      3.911615      3.433913

In [78]:
df7 = np.abs(df6) < df6.std()*2
df8 = df7.all(axis=1)
df8

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11      False
12       True
13      False
14       True
15       True
16       True
17      False
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29      False
        ...
9970     True
9971     True
9972     True
9973     True
9974     True
9975     True
9976     True
9977    False
9978     True
9979     True
9980     True
9981     True
9982     True
9983     True
9984     True
9985     True
9986     True
9987     True
9988     True
9989     True
9990     True
9991     True
9992     True
9993    False
9994     True
9995     True
9996     True
9997     True
9998    False
9999     True
Length: 10000, dtype: bool

In [79]:
df9 = df6[df8]
df9

             0         1         2
0    -1.151409  0.572258  1.139761
1    -0.202583 -0.173331  1.577703
2     1.080091  0.617864  1.206413
3    -0.368413  0.648921 -0.504882
4    -0.440671 -1.728469  1.221395
5     0.113721  0.480942  0.964269
6     0.164250  0.509468  1.142614
7     0.686807  1.639231 -1.721087
8    -0.285248  0.320045  1.055731
9    -0.644603  1.416528 -1.881903
10    0.015059 -0.193395  0.771463
12    0.206503  1.114206 -0.957771
14   -0.864565 -0.897981 -0.156640
15    0.453770  1.149902  0.978661
16    0.715340 -0.845181 -0.647133
18   -1.578180  1.269205  1.879119
19    0.379691  0.812443  0.920345
20    0.716425  0.562518 -1.208875
21    0.803982  1.426018 -1.517422
22    0.710334  0.598129 -0.083671
23    1.213873  0.339055 -1.099985
24   -0.678843  0.710646  0.539792
25    0.285954  0.282127 -1.366450
26   -0.501925 -0.703681  0.239146
27    0.798168  1.335084  0.161574
28    0.260278 -0.471349  1.511860
30    0.732670 -0.493618  0.831769
31   -0.366222  0.475786  0.426019
32    0.399678 -1.349875 -0.018602
33   -0.409542  0.401573  1.672488
...        ...       ...       ...
9967 -0.109356 -1.164077  0.536528
9968 -0.596329  1.169621 -0.591934
9969  0.908881  0.439638  1.040864
9970 -1.553720  0.097108 -1.230861
9971 -0.071958 -0.126180  1.117044
9972 -0.624816  0.263279 -0.086647
9973  1.328294  0.639054  1.016227
9974  0.283872  0.120786  0.246594
9975  1.225816 -0.812932  0.603631
9976  0.025640  0.254624  0.801991
9978 -0.541597 -0.119632  0.784860
9979 -1.625993  1.864287 -0.150148
9980 -0.391391 -1.182654 -1.490367
9981 -0.276235  0.375673 -0.532722
9982  0.789331 -1.121498 -0.735829
9983  0.477031 -0.854314 -0.011287
9984  0.822586 -0.580537 -0.391141
9985  0.245637  0.315658 -0.630510
9986  0.132353  0.865108  0.884634
9987  0.003820 -0.753205 -0.419379
9988  0.434624 -0.087826 -0.904809
9989  1.280770  0.034022  0.703478
9990 -1.421410  0.214735  0.134037
9991 -0.890413  0.430253  0.262685
9992  0.730331  0.415004 -0.591392
9994  0.368589  0.238170  0.567535
9995 -0.192851 -0.413767  0.419336
9996  0.738279 -0.977054 -1.874729
9997  0.250534  0.501971 -0.317135
9999  0.848118 -0.427226 -0.319372

[8685 rows x 3 columns]

### 排序学习

In [80]:
df5

     语    数    外
A   81   43  141
B   98   25   37
C   14   85    4
D   28  140  138
E  123   46   23
F   81   40   60

In [82]:
per = np.random.permutation(6)
per

array([3, 4, 5, 0, 1, 2])

In [83]:
df5.take(per)

     语    数    外
D   28  140  138
E  123   46   23
F   81   40   60
A   81   43  141
B   98   25   37
C   14   85    4

In [84]:
df =DataFrame({'item':['苹果','香蕉','橘子','香蕉','橘子','苹果'],
              'price':[3,4,5,3.5,4.5,2.5],
              'color':['red','yellow','red','green','green','yellow']})
df

  item  price   color
0   苹果    3.0     red
1   香蕉    4.0  yellow
2   橘子    5.0     red
3   香蕉    3.5   green
4   橘子    4.5   green
5   苹果    2.5  yellow

In [86]:
g = df.groupby('item')
g.groups

{'橘子': Int64Index([2, 4], dtype='int64'),
 '苹果': Int64Index([0, 5], dtype='int64'),
 '香蕉': Int64Index([1, 3], dtype='int64')}

In [91]:
m = g['price'].mean()
df_price_m =DataFrame(m)
# df_price_m
df_price_m.columns = ['pricemean']
df_price_m

      pricemean
item
橘子         4.75
苹果         2.75
香蕉         3.75

In [93]:
pd.merge(df,df_price_m,left_on='item',right_index=True)

  item  price   color  pricemean
0   苹果    3.0     red       2.75
5   苹果    2.5  yellow       2.75
1   香蕉    4.0  yellow       3.75
3   香蕉    3.5   green       3.75
2   橘子    5.0     red       4.75
4   橘子    4.5   green       4.75

In [95]:
df.groupby(['color','item']).sum()

             price
color  item
green  橘子      4.5
       香蕉      3.5
red    橘子      5.0
       苹果      3.0
yellow 苹果      2.5
       香蕉      4.0

In [97]:
ddd = DataFrame({'item': ['萝卜', '白菜', '辣椒', '冬瓜', '辣椒', '冬瓜', '白菜', '辣椒'],
                 'color': ['红', '白', '红', '青','青','白','白','青'],
                 'weight': np.random.randint(10,50,size=8),
                 'price': np.random.randint(5,10,size=8)})
ddd

  item color  weight  price
0   萝卜     红      26      9
1   白菜     白      16      8
2   辣椒     红      33      7
3   冬瓜     青      32      6
4   辣椒     青      13      7
5   冬瓜     白      44      5
6   白菜     白      10      8
7   辣椒     青      13      6

In [98]:
ddd.groupby('color')['price'].sum()['白']

21